body {
    background-image: linear-gradient(lightgray, darkgray, lightgray, darkgray, lightgray, darkgray, lightgray);
    min-height: 400px;
    width: 100%;

}
@media (max-width: 400px) {
    body {
        min-height: 800px;
    }
}